body{
    background-color: antiquewhite;
    font-size: 20px;
    text-align: center;
}

h1{
    text-align: center;
    color: rgba(255, 0, 0, 0.555);
}

h2{
    color: rgba(255, 119, 119, 0.788);
}